.card {
    width: 400px;
    position: relative;
    top: 30px;
    left:100px;
}

.card-text {
    max-width: 60%;
}

.episode {
    position: relative;
    bottom: 560px;
    left: 400px;
    font-weight:bold;
    font-size:30px;
}
.List{
    width: 600px;
    left: 362px;
    position: relative;
    bottom: 555px;
}  

.MovieTitle{
    text-decoration: none;
    list-style: none;
}
