<div id ="main-search">
    <div id ="Row">
        <nav id="search-nav" style ="transform: translate3d(0px, 0px, 0px); display: inline;">
            <div id = "search-container" id = "Movie-search" > 
                <form action ="/Search" onsubmit="" id ="Movie-form"> </form>
                <button id = "button" >Search</button>
                
                <!-- <input  type ="text" id = "search" placeholder ="Enter name of the Movie"></input> -->
            </div>
        </nav>    
    </div>
</div>