#Row {
    width: 1260px;
}

#search-nav{
    float: right;
    position: relative;
    width: 20%;
    margin: 1em 1em 0 0;
}

#Movie-form{
    margin-bottom: 0;
    position: relative;
}

#search{
    width: 100%;
    padding: .625em;
    padding-right: 2.5em;
    font-weight: 400;
    letter-spacing: -.003em;
}

#button {
    position: relative;
    right:800px;
    height:33px;
    width:100px;
    top: 50px;
}

.InputBox  {
    position: relative;
    left: 262px;
    top: 15px;
    height: 28px;
    width: 300px;
}


